<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>

	<h1>Login</h1>
	
	<form method="post" action="/login">
	
		<label>E-mail:</label><br>
		<input type="email" id="email" name="email" required><br><br>
		
		<label>Senha:</label><br>
		<input type="password" id="senha" name="senha" required><br><br>
		
		<label>
			<input type="checkbox" name="salvarSenha"> Salvar senha
		</label><br><br>
		
		<a href="/recuperar-senha">Esqueci minha senha</a><br><br>
		
		<input type="submit" value="Entrar">
	
	</form>

	<p>Ainda não tem conta? <a href="/cadastro">Cadastre-se</a></p>
	
</body>
</html>
